{% load url from future %}
{% load i18n %}
{% load agon_ratings_tags %}

{% overall_rating map "map" as map_rating %}
<article class="list-item">
  <!--<h3>Map</h3>-->
  <div class="item-thumbnail ">
	<a  class="map-thumbnail" href="{% url "map_detail" map.id %}">
    <div class="img-placeholder pl-153-113">{% trans "No Image Available" %}</div>
	</a>
  </div>
  <div class="details">
    <a href="{% url "map_detail" map.id %}"><h3>{{ map.title }}</h3></a>
    <div class="pull-right">
      <a href="{% url "map_download" map.id %}" class="btn btn-info">{% trans "Download" %}</a>
    </div>
    <div class="meta">
      {% trans "from" %} <a href="{% url "profile_detail" map.owner.username %}" rel="author">{{ map.owner }}</a>, {{ map.last_modified|timesince }} {% trans 'ago' %}
    </div>
    <p class="abstract">{{ map.abstract }}</p>
    <p class="activity">{{ map.popular_count }} {% trans "view" %}{{ map.popular_count|pluralize }} | <span class="avg_rating" data-rating="{{ map_rating }}">{% trans "Average rating" %} <span class="overall_rating"></span></span></p>
  </div>
</article>
