
/* consider modifying geonode base.css */
/* .modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.3 !important; 
} */

.poi_preview {
	width:100%;
}
.poi_gps {
	margin-top:0;
	text-align: center;
	background: #bbb;
	color: #fff;
	font-size:85%;
	font-weight:bold;
	padding:2px 0
}

.poi_properties {
	display:table;
}
.poi_properties_row {
	display:table-row;
}
.poi_properties dt, .poi_properties dd{
	display:table-cell;
	padding: 5px 10px;
}
.poi_properties dt {
	font-size:90%;
	color:#bbb;
}

/*	OVERRIDES for base.css
		TO DO: base.less should be modified and recompiled but it's too dependant on bootstrap.less which, in turn, tries to import another missing .less 
*/

/*	logo	*/

.nav-logo {
    background: url("../img/logo-ocd-horiz.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    margin-bottom: 7px;
    margin-top: 3px;
    overflow: hidden;
    text-indent: -9999em;
    width: 130px;
}

/*	hero unit	*/

.hero-unit {
	background: url(../img/hero-test.png) top center no-repeat;
    padding: 0;
	height: 355px;
	position:relative;
}

.hero-unit-content {
	background:rgba(0,0,0, 0.7);
	color:#fff;
	padding:20px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	border-radius: 0 0 6px 6px;
	text-shadow: 1px 1px 1px #000;
}


/*	layout fixes	*/

.content-wrap {
    margin: 0 auto;
    padding: 30px 0 0;
}

.navbar-fixed-top .row {
	margin-left:0;
	margin-right:0;
}


/*	main navigation	*/

.nav-box {
    /* background: none repeat scroll 0 0 #F7931E; */
    background: transparent;
}

/* .navbar-inner .marginless {
	margin-left:4px;
}
 */
nav.main-nav ul li a {
    /* color: #636363; */
    color: #ccc;
	padding: 4px 25px 4px 0;
	font-size: 1.15em;
}

nav.main-nav ul li a:hover {
	font-weight:normal;
	/* color:#000; */
	color:#fff;
}
nav.main-nav ul li.current a{
	color:#fff;
}
nav.main-nav ul li.current a:hover {
	font-weight:700;
}

/*	typography	*/

h2.page-title {
	font-size: 2em;
}

/*	buttons	*/

.hero-unit .btn-blue {
background: #3cb3c5;
}

.hero-unit .btn-blue:hover {
background: #379ea9;
}

/*	widgets */

.widget-maps .img-placeholder {
	display:none;
}


/*	hides list/grid switch until the grid view is properly styled */
nav.viewby {
	display:none;
}


/*	maps and layer list items	*/

/* .list-item {
	position:relative;
}
.item-thumbnail {
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	background: #ccc;
	padding:10px;
}
.img-placeholder, .item-thumbnail img {
	margin:0 !important;
}
.list-item .details {
	padding-left: 185px
}
 */

.item-thumbnail  {
	overflow:hidden;
	float:left;
}
.item-thumbnail img {
	border:1px solid #ccc;
	border-radius: 4px;
}

.list-item .details {
	float:left;
	width: 100%;
}

.details .pull-right {
	position: relative;
	right:0;
	clear:right;
}
.details h3 {
	float:left;
	width: auto !important}
.details .meta {
	clear:both;
}
.list article .download {
    position: relative;
    right: 0;
}

aside .list-item {
	font-size:90%
}

aside .details h3 {
float: left;
width: 150px !important;
}

.tab-pane article {
margin-bottom: 10px;
}

.list article {
padding-bottom: 10px;
margin-bottom: 10px;
overflow: hidden;
position: relative;
}

.item-thumbnail .details {
	padding:10px
}

/*
********* DARK THEME



body {
	color: #fff;
	background: #000;
}

.content-wrap, aside .well, .x-panel-body {
    background-color: transparent;
}
.list article .rating, .grid article .rating, .list article .activity, .grid article .activity, .meta {
    color: #999999;
}

h2.page-title {
    color: #CCCCCC;
}

aside .well, aside .well h2 {
	border-color: #333;
	color: #fff;
}

.list article {
	border-bottom: 1px solid #666;
}

.breadcrumb {
    background-color: #000000;
    background-image: none;
    background-repeat: repeat-x;
    border: 1px solid #333333;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
}

.modal {
	color:#000;
}

ul.nav-pills a.selected {
    color: #fff !important;
}

.well {
    background-color: #333;
	border: 1px solid #666;
}


********* END DARK THEME
*/
